.steps {
  @media (max-width: 767px) {
    padding: 40px 0;
  }
  position: relative;
  padding: 90px 0;

  .candle-3 {
    @media (max-width: 991px) {
      display: none;
    }
    position: absolute;
    top: -180px;
    left: 172px;
    animation: float 5.5s ease-in-out infinite;
    z-index: 9;
  }
}