section.steps 
  div.candle-3
    img(src=imgDir+"сandle/сandle-3.png", alt="Candle")
  div.container 
    div.row
      div.col
        include ../../blocks/title/title
        +title('All you need to do', 'Follow these three easy steps to get your bonus')
    div.row.d-block.d-md-flex
      include ../../blocks/step/step
      div.col-12.col-md-4
        +step('sign-up.svg', '1. Sign up', 'Sign up, verify your account and make a deposit. Based on the amount you will receive between 30% and 100% of your deposit back')
      div.col-12.col-md-4
        +step('confirmation.svg', '2. Confirmation', 'Your account manager will be in touch to confirm the bonus amount you are eligible for')
      div.col-12.col-md-4
        +step('get-your-bonus.svg', '3. Get your bonus', 'Your bonus money will appear in your account and you can start trading with it')