.footer {
  @media (max-width: 575px) {
    padding: 40px 0 68px;
  }
  padding: 46px 0 95px;
  background-color: $color-footer;
  color: $color-footer-text;

  &__top {
    @media (max-width: 767px) {
      padding-bottom: 24px;
    }
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 22px;
    
    &::after {
      position: absolute;
      left: 15px;
      bottom: 0;
      content: '';
      width: calc(100% - 30px);
      height: 1px;
      background-color: $color-line;
    }
  }

  &__license {
    position: relative;
    padding: 0 25px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 56px;
      top: 50%;
      margin-top: -28px;
      background-color: $color-line;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }

  }

  &__socials {
    @media (max-width: 767px) {
      padding-top: 24px;
      margin: 24px auto 0;
      border-top: 1px solid $color-line;
      width: 100%;
    }
    &-label {
      @media (max-width: 767px) {
        display: none;
      }
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 13px;
    }

    &-list {
      display: flex;
      justify-content: center;
    }
  }

  &__social {
    margin-right: 25px;

    svg {
      fill: $color-social;
      transition: .3s;
    }

    &:hover {
      svg {
        fill: $color-accent;
      }
    } 

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo {
    margin-right: 30px;

    svg {
      fill: $color-footer-text;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: $color-footer-text2;
    margin-bottom: 18px;
  }
  
  &__copyright {
    font-size: 12px;
    line-height: 18px;
    color: $color-footer-text2;
  }
}