footer.footer
  div.container
    div.row.footer__top 
      div.col-md-4.col-sm-12.d-flex.align-items-md-center.justify-content-sm-center
        a.footer__logo(href="#")
          include ../../../icons/logo/everfx.html
        a.footer__logo(href="#")
          include ../../../icons/logo/sevilla.html
          
      div.col-md-4.col-sm-12.d-flex.align-items-center.justify-content-center
        include ../../blocks/license/license
        div.footer__license
          +license('Registered with', 'СIMA', 'Reg. 1444866')
        div.footer__license
          +license('Registered with', 'CySec', 'Reg. 1444866')

      div.col-md-4.col-sm-12.d-flex.justify-content-md-end.justify-content-sm-center
        div.footer__socials
          div.footer__socials-label Follow us
          div.footer__socials-list
            a.footer__social(href="#")
              include ../../../icons/socials/instagram.html
            a.footer__social(href="#")
              include ../../../icons/socials/facebook.html
            a.footer__social(href="#")
              include ../../../icons/socials/twitter.html
            a.footer__social(href="#")
              include ../../../icons/socials/youtube.html
            a.footer__social(href="#")
              include ../../../icons/socials/linkedin.html
    div.row 
      div.col
        p EVERFX Global is a tradename of ICC Intercertus Capital (Cayman) Ltd, registration number 326096.
        p Risk Warning: Trading CFDs, which are leveraged products, carries a high level of risk and can result in the loss of all of your investment. It's a good practice to never invest more than you are willing to part with.Before deciding to trade, please ensure you understand all the risks associated with the OTC CFDs trading and take into account your level of experience. Therefore, Trading Forex and CFDs is a difficult to understand product and may not be suitable for all investors. Please seek independent advice if necessary. Past performance of CFDs is not a reliable indicator of future results. Please read the full Risk Disclosure.
        p EVERFX does not offer Contracts for Difference to residents of certain jurisdictions such as the USA, Belgium, Iran, Canada and North Korea.
        div.footer__copyright © 2019 EVERFX GLOBAL ALL RIGHTS RESERVED