doctype html
html(lang='ru')
  include ../../common/pug/head
  body.p-main
    include ../../components/sections/header/header
    
    include ../../components/sections/promo/promo
    include ../../components/sections/bonus/bonus
    div.p-main__gradient
      include ../../components/sections/steps/steps
      include ../../components/sections/sponsor/sponsor
      include ../../components/sections/benefits/benefits
      include ../../components/sections/payments/payments

    include ../../components/sections/footer/footer
  
    include ../../common/pug/scripts
    
