.license {
  text-align: center;

  &__label {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 13px;
    margin-bottom: 6px;
  }

  &__name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__number {
    font-size: 8px;
    line-height: 12px;
    color: $color-social;
    text-decoration: underline;
  }
}