.promo {
  @media (max-width: 767px) {
    min-height: 408px;
    max-height: 408px;
  }
  position: relative;
  // overflow: hidden;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 590px;

  .candle {
    @media (max-width: 1199px) {
      display: none;
    }
    position: absolute;
    top: 120px;
    right: 120px;
    animation: float 6s ease-in-out infinite;
    z-index: 9;
  }

  .candle-2 {
    @media (max-width: 1199px) {
      display: none;
    }
    position: absolute;
    top: 282px;
    left: 136px;
    animation: float 5s ease-in-out infinite;
    z-index: 9;
  }

  &__graph {
    @media (max-width: 767px) {
      width: 306px;
      bottom: -3px;
    }
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);

    img {
      max-width: 100%;
    }

    &::after {
      @media (max-width: 767px) {
        width: 306px;
        height: 306px;
        background-size: contain;
      }
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 536px;
      height: 536px;
      background-image: url('../img/ellipse.png');

      opacity: .5;
    }
  }

  &__radial {
    @media (max-width: 767px) {
      height: 128px;
    }
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 171px;
    background-image: url('../img/radial-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__border {
    @media (max-width: 767px) {
      height: 128px;
    }
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 171px;
    background-image: url('../img/border-big-new.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  &__btn {
    @media (max-width: 767px) {
      display: block;
    }
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
}