section.promo 
  div.promo__graph 
    img(src=imgDir+"main_lp_1920x1080_6.png", alt="Bonus 100%")
  div.promo__radial 
  div.promo__border

  a.custom-btn.custom-btn_white.promo__btn(href="#") Start Trading

  div.candle
    img(src=imgDir+"сandle/сandle.png", alt="Candle")
  div.candle-2
    img(src=imgDir+"сandle/сandle-2.png", alt="Candle")