.sponsor {
  @media (max-width: 767px) {
    padding: 40px 0;
  }
  padding: 90px 0;

  &__info {
    @media (max-width: 767px) {
      margin-bottom: 24px;
      text-align: center;
    }
    img {
      margin-bottom: 24px;
    }

    h2 {
      margin-bottom: 24px;
    }
  }

  &__btns {
    padding-top: 24px;

    a {
      margin-bottom: 17px;
    }
  }
}
