section.sponsor
  div.container 
    div.row.justify-content-between
      div.col-12.col-md-4.mb-sm-3.sponsor__info
        img(src=imgDir+"sevilla-logo.svg", alt="Sevilla logo")
        h2 Official team sponsor of Sevilla FC
        p EverFX is proud to sponsor such a historic and acclaimed club as Sevilla FC. Through our on-going relationship with the team and its esteemed business club, we are able to run a variety of regular promotions and offer attractive giveaways to our traders
        div.sponsor__btns
          a.custom-btn(href="#") Start Trading 
          p.small Trading CFDs involves significant risk of loss
      div.col-12.col-md-7
        include ../../blocks/video/video
        +video('_uoFTXnwDU0', 'Sevilla FC')
