mixin input-pass(id, label)
  fieldset.input-pass
    input.form-control(id=id, type="password", name="pass", placeholder="Password")&attributes(attributes)
    span.input-pass__hidden
      span
        include ../../../icons/eye-hidden.html
      span 
        include ../../../icons/eye.html
    