.input-pass {
  $p: &;

  position: relative;

  &__hidden {   
    position: absolute;
    top: 9px;
    right: 8px;   
    height: 21px; 
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    transition: .3s;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 21px;
      height: 21px;

      svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #000;
      }
      &:nth-child(1) {
        visibility: visible;
        opacity: 1;
      }
      &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      } 
    }

    &_close {
      span {      
        &:nth-child(2) {
          visibility: visible;
          opacity: 1;
        }
        &:nth-child(1) {
          visibility: hidden;
          opacity: 0;
        } 
      }
    }
    &_show {
      display: block;
    }
  }    
}
