mixin video(id, title)
	div.video
		a.video__link(href="https://youtu.be/"+id)
			picture
				source(
					srcset="https://i.ytimg.com/vi_webp/"+id+"/maxresdefault.webp" 
					type="image/webp"
				)
				img.video__media(
					src="https://i.ytimg.com/vi/"+id+"/maxresdefault.jpg" alt=title
				)
		button.video__button(type="button" aria-label="Play video")
			include ../../../icons/play.html