.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 58.25%;
  background-color: #000000;
  
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 56px;
    height: 56px;
    border: none;
    background-color: $color-light;
    border-radius: 100%; 
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .3s;
    
    &:hover {
      background-color: $color-grey;
    }
  
    &:focus {
      outline: none;
    }
  
    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/* Enabled */
.video--enabled {
	cursor: pointer;
}

.video--enabled .video__button {
	display: block;
}