header.header
  div.header__container
    div.header__logos
      a.header__logo.everfx(href="index.html")
        include ../../../icons/logo/everfx.html
      a.header__logo2.sevilla(href="#")
        include ../../../icons/logo/sevilla.html
    
    a.custom-btn.custom-btn_white(href="#") Start Trading