.header {
  @media (max-width: 767px) {
    padding: 15px;
  }
  position: fixed;
  padding: 40px 55px;
  top: 0;
  left: 0;
  width: 100%;
  transition: .3s ease-out;
  z-index: 10;


  svg {
    display: block;
    fill: $color-light;
    transition: .3s;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logos {
    @media (max-width: 767px) {
      justify-content: space-between;
    }
    display: flex;
    align-items: center;  

    svg {
      @media (max-width: 767px) {
        width: 141px;
        height: 39px;
      }
    }
  }

  &__logo {
    &:first-child {
      @media (max-width: 767px) {
        margin-right: 24px;
      }
      margin-right: 32px;
    }
  }

  .custom-btn {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &.is-minimized {
    @media (max-width: 767px) {
      padding: 15px;
    }
    padding: 18px 55px;
    background-color: $color-light;

    .everfx {
      svg {
        @media (max-width: 767px) {
          width: 141px;
          height: 39px;
        }
        fill: #003552;
        height: 44px;

        .mark-icon {
          fill: $color-accent;
        }
      }
    }

    .sevilla {
      display: none;
    }

    .custom-btn_white {
      @media (max-width: 767px) {
        display: block;
      }
      padding: 13px 16px;
      background-color: $color-accent;
      color: $color-light;
      filter: none;

      &:hover {
        background-color: $color-accent-hover;
        color: $color-light;
      }
    }
  }
}