// Exo 2
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700&display=swap');

//
@font-face {
	font-family: 'Calibri';
	src: url('../../fonts/calibri.eot');
  src: local('☺'), 
  url('../fonts/calibri.woff') format('woff'), 
  url('../fonts/calibri.ttf') format('truetype'), 
  url('../fonts/calibri.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
