// scss-lint:disable VendorPrefix

html {
  direction: ltr;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: $color-dark;
  font-family: $font-family-base;
  font-display: swap;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

input,
textarea,
button,
select {
  color: $color-dark;
  font-family: $font-family-base;
  font-display: swap;
  font-size: 16px;
  font-weight: $font-weight-regular;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: $color-dark;
  }

  &::-moz-placeholder {
    color: $color-dark;
  }

  &:-ms-input-placeholder {
    color: $color-dark;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
  overflow-y: auto;
}

a {
  text-decoration: none;
  transition: .3s;
}

.custom-btn {
  display: inline-block;
  text-align: center;
  padding: 17px 24px;
  font-size: 15px;
  color: $color-light;
  background-color: $color-accent;
  border-radius: 2px;
  transition: .3s;

  &:hover {
    text-decoration: none;
    color: $color-light;
    background-color: $color-accent-hover;
  }

  &_white {
    background-color: $color-light;
    color: $color-accent;
    filter: drop-shadow(0 10px 8px rgba(#292929, .2));

    &:hover {
      color: $color-accent;
      background-color: $color-grey;
    }
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}