// Responsive

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

// Hidden
@mixin hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Visible
@mixin visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

// Background image
@mixin bgimage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Text overflow
@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
