h1,h2,h3,h4,h5 {
  font-family: 'Exo 2', sans-serif;
  color: $color-dark;
}

h1 {
  @media (max-width: 991px) {
    font-size: 32px;
  }
  font-size: 48px;
}

h2 {
  @media (max-width: 991px) {
    font-size: 26px;
  }
  font-size: 32px;
}

h4 {
  @media (max-width: 991px) {
    font-size: 22px;
  }
  font-size: 24px;
  line-height: 24px;
}

b, strong {
  font-weight: 700;
}

p {
  color: $color-text;
  line-height: 24px;
}

a:not([class]) {
  color: $color-accent;

  &:hover {
    text-decoration: underline;
  }
}

a.gray {
  color: $color-social;
  text-decoration: underline;
}