// Responsive

// Colors
$color-light: #fff;
$color-grey: #D1D3D4;
$color-footer-text: #C4C4C4;
$color-footer-text2: #6d6d6d;
$color-dark: #161616;
$color-text: #595959;
$color-accent: #168050;
$color-accent-hover: #126942;
$color-footer: #1B1B1B;
$color-social: #757575;
$color-line: rgba(#fff, .06);

// Fonts
// $font-family-base: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$font-family-base: 'Calibri', sans-serif;

$font-weight-regular: 400;
