.benefit {
  @media (max-width: 767px) {
    margin-bottom: 24px;
    text-align: center;
  }
  margin-bottom: 40px;
  
  &__img {
    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 20px;
  }
}