.step {
  @media (max-width: 991px) {
    padding: 20px;
  }
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 24px;
  }
  text-align: center;
  height: 100%;
  padding: 40px;
  border-radius: 10px;
  background-color: $color-light;
  filter: drop-shadow(0 0 50px rgba(#000, .1));
  
  &__img {
    @media (max-width: 991px) {
      max-width: 124px;
    }
    display: block;
    margin: 0 auto 32px;
  }

  &__title {
    margin-bottom: 16px;
  }
}