.payments {
  @media (max-width: 767px) {
    padding: 40px 0 80px
  }
  padding: 90px 0 45px;
  &__item {
    @media (max-width: 767px) {
      width: 33.3333%;
      margin-right: 0;
    }
    width: 120px;
    height: 64px;
    margin-right: 16px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}