section.payments
  div.container 
    div.row
      div.col.d-flex.flex-wrap.align-items-center.justify-content-start.justify-content-sm-center
        div.payments__item 
          img(src=imgDir+"payments/visa.svg", alt="Visa")
        div.payments__item 
          img(src=imgDir+"payments/mastercard.svg", alt="Mastercard")
        div.payments__item 
          img(src=imgDir+"payments/skrill.svg", alt="Skrill")
        div.payments__item 
          img(src=imgDir+"payments/wiretransfer.svg", alt="Wiretransfer")
        div.payments__item 
          img(src=imgDir+"payments/neteller.svg", alt="Neteller")