.bonus {
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
  padding-bottom: 90px;
  position: relative;
  background: $color-light;
  z-index: 8;

  &__info {
    @media (max-width: 767px) {
      padding: 80px 0;
      text-align: center;
    }
    padding-top: 175px;
    padding-bottom: 145px;
  }

  &__form  {
    @media (max-width: 767px) {
      margin-top: 0;
      margin-left: -15px;
      margin-right: -15px;
    } 
    margin-top: -95px;
  }

  &__type {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: $color-accent;
    margin-bottom: 24px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}