section.bonus
  div.container 
    div.row.justify-content-between
      div.col-12.col-lg-6.col-md-5.col-sm-12
        div.bonus__info 
          div.bonus__type Up to 100% Deposit Bonus
          h1.bonus__title The Biggest Bonus in the Industry is Back! <br> Get up to $10,000 free trading money!
          p.small *Maximum bonus amount - 10,000 of your account currency. Terms and conditions apply.

      div.col-12.col-lg-5.col-md-7.col-sm-12
        div.bonus__form 
          include ../../blocks/form/form