-var imgDir = 'assets/img/';
head
  meta(charset='UTF-8')
  meta(
    http-equiv='X-UA-Compatible'
    content='IE=edge'
  )
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
  )
  meta(
    name='theme-color'
    content='#003552'
  )
  link(
    rel='shortcut icon'
    href='assets/img/favicon.png'
    type='image/png'
  )
  //- link(
  //-   rel="stylesheet" 
  //-   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  //-   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  //-   crossorigin="anonymous"
  //- )
  link(
    rel='stylesheet'
    href='assets/css/index.css'
  )
  title Deposit Bonus