.form {
  @media (max-width: 991px) {
    padding: 20px;
  }
  padding: 32px 56px 38px;
  background-color: $color-light;
  border-radius: 2px; 
  filter: drop-shadow(0 0 50px rgba(#000, .1));

  label {
    font-size: 13px;
    line-height: 16px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 32px;
    margin-bottom: 24px;

    div {
      font-size: 16px;
      color: $color-social;
    }
  }

  .custom-btn {
    width: 100%;
    margin-bottom: 16px;
  }

  // phones 
  .phones .intl-tel-input.allow-dropdown {
    width: 100%;
  }
  .phones .intl-tel-input .selected-flag .iti-flag {
    width: 14px;
    border-radius: 100%;
    margin-left: 3px;
  }

  // bootstrap custome
  .form-check-input {
    margin-top: 0;
  }
  .checkbox-container,
  .form-group {
    position: relative;
  }

  //parsley 
  .parsley-errors-list {
    font-size: 11px;
    line-height: 14px;
    color: red;
    position: absolute;
    bottom: -14px;
  }
}