div.form
  div.form__heading 
    h4 Sign up
    div Already registered? <a href="#" class="gray">Sign in</a>
  form(action="#", aria-label="Sign up", data-parsley-validate)
    div.form-row.form-group
      div.col
        input.form-control(
          type="text", 
          placeholder="First name",
          data-parsley-required,
          data-parsley-required-message="Please enter your name!",
          data-parsley-minlength="2",
          data-parsley-minlength-message="Name must be at least 2 characters!"
          required
        )
      div.col
        input.form-control(
          type="text", 
          placeholder="Last name",
          data-parsley-required,
          data-parsley-required-message="Please enter your surname!",
          data-parsley-minlength="2",
          data-parsley-minlength-message="Surname must be at least 2 characters!"
          required
        )
    
    div.form-group
      input.form-control(
        type="email", 
        placeholder="Email",
        data-parsley-required,
        data-parsley-required-message="Please enter your e-mail!",
        data-parsley-type="email",
        data-parsley-type-message="Your e-mail address is invalid!" 
        required
      )
    
    div.form-group
      div.input-group.phones         
        input.form-control.phones-inter(
          type='tel', 
          placeholder='Телефон' 
          name="phone",
          required
        )

    div.form-group 
      select.custom-select(name="country", required)
        option(value="Afghanistan") Afghanistan
        option(value="Åland Islands") Åland Islands
        option(value="Albania") Albania
        option(value="Algeria") Algeria
        option(value="American Samoa") American Samoa
        option(value="Andorra") Andorra
        option(value="Angola") Angola
        option(value="Anguilla") Anguilla
        option(value="Antarctica") Antarctica
        option(value="Antigua and Barbuda") Antigua and Barbuda
        option(value="Argentina") Argentina
        option(value="Armenia") Armenia
        option(value="Aruba") Aruba
        option(value="Australia") Australia
        option(value="Austria") Austria
        option(value="Azerbaijan") Azerbaijan
        option(value="Bahamas") Bahamas
        option(value="Bahrain") Bahrain
        option(value="Bangladesh") Bangladesh
        option(value="Barbados") Barbados
        option(value="Belarus") Belarus
        option(value="Belgium") Belgium
        option(value="Belize") Belize
        option(value="Benin") Benin
        option(value="Bermuda") Bermuda
        option(value="Bhutan") Bhutan
        option(value="Bolivia") Bolivia
        option(value="Bosnia and Herzegovina") Bosnia and Herzegovina
        option(value="Botswana") Botswana
        option(value="Bouvet Island") Bouvet Island
        option(value="Brazil") Brazil
        option(value="British Indian Ocean Territory") British Indian Ocean Territory
        option(value="Brunei Darussalam") Brunei Darussalam
        option(value="Bulgaria") Bulgaria
        option(value="Burkina Faso") Burkina Faso
        option(value="Burundi") Burundi
        option(value="Cambodia") Cambodia
        option(value="Cameroon") Cameroon
        option(value="Canada") Canada
        option(value="Cape Verde") Cape Verde
        option(value="Cayman Islands") Cayman Islands
        option(value="Central African Republic") Central African Republic
        option(value="Chad") Chad
        option(value="Chile") Chile
        option(value="China") China
        option(value="Christmas Island") Christmas Island
        option(value="Cocos (Keeling) Islands") Cocos (Keeling) Islands
        option(value="Colombia") Colombia
        option(value="Comoros") Comoros
        option(value="Congo") Congo
        option(value="Congo, The Democratic Republic of The") Congo, The Democratic Republic of The
        option(value="Cook Islands") Cook Islands
        option(value="Costa Rica") Costa Rica
        option(value="Cote D`ivoire") Cote D`ivoire
        option(value="Croatia") Croatia
        option(value="Cuba") Cuba
        option(value="Cyprus") Cyprus
        option(value="Czech Republic") Czech Republic
        option(value="Denmark") Denmark
        option(value="Djibouti") Djibouti
        option(value="Dominica") Dominica
        option(value="Dominican Republic") Dominican Republic
        option(value="Ecuador") Ecuador
        option(value="Egypt") Egypt
        option(value="El Salvador") El Salvador
        option(value="Equatorial Guinea") Equatorial Guinea
        option(value="Eritrea") Eritrea
        option(value="Estonia") Estonia
        option(value="Ethiopia") Ethiopia
        option(value="Falkland Islands (Malvinas)") Falkland Islands (Malvinas)
        option(value="Faroe Islands") Faroe Islands
        option(value="Fiji") Fiji
        option(value="Finland") Finland
        option(value="France") France
        option(value="French Guiana") French Guiana
        option(value="French Polynesia") French Polynesia
        option(value="French Southern Territories") French Southern Territories
        option(value="Gabon") Gabon
        option(value="Gambia") Gambia
        option(value="Georgia") Georgia
        option(value="Germany") Germany
        option(value="Ghana") Ghana
        option(value="Gibraltar") Gibraltar
        option(value="Greece") Greece
        option(value="Greenland") Greenland
        option(value="Grenada") Grenada
        option(value="Guadeloupe") Guadeloupe
        option(value="Guam") Guam
        option(value="Guatemala") Guatemala
        option(value="Guernsey") Guernsey
        option(value="Guinea") Guinea
        option(value="Guinea-bissau") Guinea-bissau
        option(value="Guyana") Guyana
        option(value="Haiti") Haiti
        option(value="Heard Island and Mcdonald Islands") Heard Island and Mcdonald Islands
        option(value="Holy See (Vatican City State)") Holy See (Vatican City State)
        option(value="Honduras") Honduras
        option(value="Hong Kong") Hong Kong
        option(value="Hungary") Hungary
        option(value="Iceland") Iceland
        option(value="India") India
        option(value="Indonesia") Indonesia
        option(value="Iran") Iran
        option(value="Iraq") Iraq
        option(value="Ireland") Ireland
        option(value="Isle of Man") Isle of Man
        option(value="Israel") Israel
        option(value="Italy") Italy
        option(value="Jamaica") Jamaica
        option(value="Japan") Japan
        option(value="Jersey") Jersey
        option(value="Jordan") Jordan
        option(value="Kazakhstan") Kazakhstan
        option(value="Kenya") Kenya
        option(value="Kiribati") Kiribati
        option(value="Korea") Korea
        option(value="Kuwait") Kuwait
        option(value="Kyrgyzstan") Kyrgyzstan
        option(value="Lao People`s Democratic Republic") Lao People`s Democratic Republic
        option(value="Latvia") Latvia
        option(value="Lebanon") Lebanon
        option(value="Lesotho") Lesotho
        option(value="Liberia") Liberia
        option(value="Libyan Arab Jamahiriya") Libyan Arab Jamahiriya
        option(value="Liechtenstein") Liechtenstein
        option(value="Lithuania") Lithuania
        option(value="Luxembourg") Luxembourg
        option(value="Macao") Macao
        option(value="Macedonia, The Former Yugoslav Republic of") Macedonia, The Former Yugoslav Republic of
        option(value="Madagascar") Madagascar
        option(value="Malawi") Malawi
        option(value="Malaysia") Malaysia
        option(value="Maldives") Maldives
        option(value="Mali") Mali
        option(value="Malta") Malta
        option(value="Marshall Islands") Marshall Islands
        option(value="Martinique") Martinique
        option(value="Mauritania") Mauritania
        option(value="Mauritius") Mauritius
        option(value="Mayotte") Mayotte
        option(value="Mexico") Mexico
        option(value="Micronesia, Federated States of") Micronesia, Federated States of
        option(value="Moldova, Republic of") Moldova, Republic of
        option(value="Monaco") Monaco
        option(value="Mongolia") Mongolia
        option(value="Montenegro") Montenegro
        option(value="Montserrat") Montserrat
        option(value="Morocco") Morocco
        option(value="Mozambique") Mozambique
        option(value="Myanmar") Myanmar
        option(value="Namibia") Namibia
        option(value="Nauru") Nauru
        option(value="Nepal") Nepal
        option(value="Netherlands") Netherlands
        option(value="Netherlands Antilles") Netherlands Antilles
        option(value="New Caledonia") New Caledonia
        option(value="New Zealand") New Zealand
        option(value="Nicaragua") Nicaragua
        option(value="Niger") Niger
        option(value="Nigeria") Nigeria
        option(value="Niue") Niue
        option(value="Norfolk Island") Norfolk Island
        option(value="Northern Mariana Islands") Northern Mariana Islands
        option(value="Norway") Norway
        option(value="Oman") Oman
        option(value="Pakistan") Pakistan
        option(value="Palau") Palau
        option(value="Palestinian Territory, Occupied") Palestinian Territory, Occupied
        option(value="Panama") Panama
        option(value="Papua New Guinea") Papua New Guinea
        option(value="Paraguay") Paraguay
        option(value="Peru") Peru
        option(value="Philippines") Philippines
        option(value="Pitcairn") Pitcairn
        option(value="Poland") Poland
        option(value="Portugal") Portugal
        option(value="Puerto Rico") Puerto Rico
        option(value="Qatar") Qatar
        option(value="Reunion") Reunion
        option(value="Romania") Romania
        option(value="Russian Federation") Russian Federation
        option(value="Rwanda") Rwanda
        option(value="Saint Helena") Saint Helena
        option(value="Saint Kitts and Nevis") Saint Kitts and Nevis
        option(value="Saint Lucia") Saint Lucia
        option(value="Saint Pierre and Miquelon") Saint Pierre and Miquelon
        option(value="Saint Vincent and The Grenadines") Saint Vincent and The Grenadines
        option(value="Samoa") Samoa
        option(value="San Marino") San Marino
        option(value="Sao Tome and Principe") Sao Tome and Principe
        option(value="Saudi Arabia") Saudi Arabia
        option(value="Senegal") Senegal
        option(value="Serbia") Serbia
        option(value="Seychelles") Seychelles
        option(value="Sierra Leone") Sierra Leone
        option(value="Singapore") Singapore
        option(value="Slovakia") Slovakia
        option(value="Slovenia") Slovenia
        option(value="Solomon Islands") Solomon Islands
        option(value="Somalia") Somalia
        option(value="South Africa") South Africa
        option(value="South Georgia and The South Sandwich Islands") South Georgia and The South Sandwich Islands
        option(value="Spain") Spain
        option(value="Sri Lanka") Sri Lanka
        option(value="Sudan") Sudan
        option(value="Suriname") Suriname
        option(value="Svalbard and Jan Mayen") Svalbard and Jan Mayen
        option(value="Swaziland") Swaziland
        option(value="Sweden") Sweden
        option(value="Switzerland") Switzerland
        option(value="Syrian Arab Republic") Syrian Arab Republic
        option(value="Taiwan, Province of China") Taiwan, Province of China
        option(value="Tajikistan") Tajikistan
        option(value="Tanzania, United Republic of") Tanzania, United Republic of
        option(value="Thailand") Thailand
        option(value="Timor-leste") Timor-leste
        option(value="Togo") Togo
        option(value="Tokelau") Tokelau
        option(value="Tonga") Tonga
        option(value="Trinidad and Tobago") Trinidad and Tobago
        option(value="Tunisia") Tunisia
        option(value="Turkey") Turkey
        option(value="Turkmenistan") Turkmenistan
        option(value="Turks and Caicos Islands") Turks and Caicos Islands
        option(value="Tuvalu") Tuvalu
        option(value="Uganda") Uganda
        option(value="Ukraine" selected="selected") Ukraine
        option(value="United Arab Emirates") United Arab Emirates
        option(value="United Kingdom") United Kingdom
        option(value="United States") United States
        option(value="United States Minor Outlying Islands") United States Minor Outlying Islands
        option(value="Uruguay") Uruguay
        option(value="Uzbekistan") Uzbekistan
        option(value="Vanuatu") Vanuatu
        option(value="Venezuela") Venezuela
        option(value="Viet Nam") Viet Nam
        option(value="Virgin Islands, British") Virgin Islands, British
        option(value="Virgin Islands, U.S.") Virgin Islands, U.S.
        option(value="Wallis and Futuna") Wallis and Futuna
        option(value="Western Sahara") Western Sahara
        option(value="Yemen") Yemen
        option(value="Zambia") Zambia
        option(value="Zimbabwe") Zimbabwe
    
    div.form-group
      include ../../blocks/input-pass/input-pass
      +input-pass('pass')(data-parsley-required-message="Please enter your password!", required)

    div.form-group
      input.form-control(type="text", name="promo", placeholder="Promo code (optional)")

    div.form-group
      label(for="answer") Would you like to open an account with EverFX Global, authorized by Cayman Island Monetary Authirity and operating outside EU?

    div.form-group
      select#answer.custom-select(
        name="answer", 
        data-parsley-required-message="Please choose your answer!", required
      )
        option(value="") Please choose your answer
        option(value="yes") Yes
        option(value="no") No

    div.checkbox-container
      div.form-check.form-group 
        input#check1.form-check-input(type="checkbox" name="declare" required)
        label.form-check-label(for="check1") I declare that I have carefully read and fully understood the entire text of the <a href="#">Client Agreement</a>, <a href="#">Risk Disclosure Statement</a> and the other <a href="#">Legal Documents</a> which I fully accept and agree with.
    div.checkbox-container
      div.form-check.form-group 
        input#check2.form-check-input(type="checkbox" name="agree" required)
        label.form-check-label(for="check2") I agree to receive newsletters, news and product updates

    button.custom-btn(type="submit") Claim Your Bonus

  p.small.text-center Trading CFDs involves significant risk of loss