section.benefits 
  div.candle-5
    img(src=imgDir+"сandle/сandle-5.png", alt="Candle")
  div.candle-4
    img(src=imgDir+"сandle/сandle-4.png", alt="Candle")
  div.container 
    div.row
      div.col
        include ../../blocks/title/title
        +title('Why you should choose us', 'Trade with EverFX for a wealth of benefits')
    div.row
      include ../../blocks/benefit/benefit
      div.col-12.col-md-4
        +benefit('multi-asset.svg', 'Multi-Asset Trading', 'Trade 130+ instruments across 6 asset classes including: FX, precious metals, energy, stocks, indices and cryptocurrencies')
      div.col-12.col-md-4
        +benefit('rapid-reliable.svg', 'Rapid & Reliable Execution', 'With our lightning-fast execution most trades are completed within 80ms and 83% are secured at the requested price or lower')
      div.col-12.col-md-4
        +benefit('competitive-pricing.svg', 'Competitive Pricing', 'Make the most out of every single trade with our highly competitive spreads starting from 0.1 pips')
      div.col-12.col-md-4
        +benefit('fully-regulated.svg', 'Fully-regulated', 'EverFX is fully-regulated in 2 jurisdictions. We abide by the highest standards and fair trading practices')
      div.col-12.col-md-4
        +benefit('negative-balance.svg', 'Negative Balance Protection', 'Our technology ensures that no-matter what happens on the markets, your account will never dip below zero')
      div.col-12.col-md-4
        +benefit('education.svg', 'Education & Analysis', 'Learn the craft and stay in the loop with our comprehensive education center, free expert analysis and market insights')
    div.row
      div.col.benefits__btns
        a.custom-btn(href="#") Start Trading 
        p.small Trading CFDs involves significant risk of loss