.benefits {
  @media (max-width: 767px) {
    padding: 40px 0;
  }
  position: relative;
  padding: 90px 0;

  .candle-5 {
    @media (max-width: 991px) {
      display: none;
    }
    position: absolute;
    top: -60px;
    left: 57px;
    animation: float 5s ease-in-out infinite;
    z-index: 9;
  }

  .candle-4 {
    @media (max-width: 991px) {
      display: none;
    }
    position: absolute;
    top: -50px;
    right: 62px;
    animation: float 4s ease-in-out infinite;
    z-index: 9;
  }

  &__btns {
    text-align: center;
    padding-top: 24px;

    a {
      margin-bottom: 17px;
    }
  }
}